/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_tree .
 *= require_self
 */

.new_item_form {
	list-style: none;
}

.overdue *:not(a) {
	color: red !important;
}

.completed input:not(a) {
	text-decoration: line-through !important;
}

form {
	display:inline-block;
}

.current {
  padding-right: 12px;
  display:inline-block;
}

.asc {
  background: url('/images/up_arrow.gif') no-repeat right center;
}

.desc {
  background: url('/images/down_arrow.gif') no-repeat right center;;
}

input[type=text] {
	width:200px;
}